
<span class="badge badge-light" style="color:white;
     width: 35px;
     height: 35px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: red;
     padding-top: 9%;
     text-align:center">@ViewData["Carrito"]</span>
