@model IEnumerable<TiendaVirtual.Producto>
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="jumbotron embed-responsive-item" style="background-image: url('/Resources/14305781945251135741.jpg'); padding-top:17%">
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                <img class="card-img-top" src="~/Resources/@(item.Imagen)" style="width:50%; align-self:center;">
                <div class="card-body">
                    <p class="card-text" style="text-align:center;">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                    <h3 class="card-text" style="text-align:center;">@Html.DisplayFor(modelItem => item.Precio)€</h3>
                    @Html.ActionLink("Detalle", "Details", null, new { id = item.Id }, new { @class = "btn btn-success", Style="display:block;" })
                </div>
            </div>
        </div>


        }
    </div>
</body>
</html>
